* {
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: #fef4e9;
  background-color: #444;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-weight: 100;
  text-decoration: none;
  border: none;
}
main {
  padding-bottom: 1em;
  padding-top: 1em;
}
h1 {
  font-family: "primusdemo";
  text-align: left;
  font-size: 1.5em;
  color: #fef4e9;
  font-weight: 100;
  line-height: 5.375em;
  height: 3.5em;
}
label {
  display: block;
  margin: 1.5em 0 0.8em 0;
}
.main_container {
  background-color: #333;
  width: 90%;
  min-height: 29.375em;
  padding-bottom: 53.125em;
}
fieldset {
  width: 17.25em;
  margin: 0 auto;
}
.fielderror {
  margin: 0 auto;
  margin-top: 0.5em;
  width: 17.25em;
  display: block;
}
input {
  display: block;
  font-size: 0.9em;
  color: #666;
  margin-top: 0.8em;
  height: 2.5em;
  width: 17.25em;
  border: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  letter-spacing: 0.04em;
  font-weight: 100;
  border-radius: 1px;
}
input[placeholder],
:-ms-input-placeholder,
::-webkit-input-placeholder,
::-moz-placeholder,
input:-moz-placeholder,
:-moz-placeholder,
input::placeholder,
div.-webkit-input-placeholder {
  font-size: 0.1em;
}
h2 {
  font-weight: normal;
  text-align: center;
  padding-top: 1em;
}
.main_container {
  width: 100%;
  margin: 0 auto;
  display: block;
}
.required {
  color: red;
}
button {
  display: block;
  font-weight: 400;
  padding: 0.625em;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #333;
}
button.delete-button {
  display: inline-block;
  margin-top: 0;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 1em;
  margin-bottom: 0.1em;
  background-color: transparent;
}
input[type="text"] {
  border-radius: 0;
  padding: 0.21rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: border-box;
}
input:focus,
.form-control:focus,
button:focus {
  outline: 1px solid #aab2b1 !important;
  outline-offset: 1px;
  border: 0 !important;
  box-shadow: none !important;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0) !important;
}
