<div class="main_container">
  <main>
    <h2>Todo List</h2>
    <div
      *ngIf="myForm.submitted && myForm.valid"
      role="menu"
      aria-live="assertive"
      aria-relevant="all"
    >
      <span
        class="fielderror"
        role="menuitem"
        *ngFor="let productName of productNames; let i = index"
        >{{ productName }}
        <button
          type="button"
          class="delete-button"
          aria-label="delete this task"
          (mousedown)="deletetask($event)"
        >
          X
        </button>
      </span>
    </div>
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)">
      <fieldset>
        <label for="productName">Enter a task. </label>
        <span class="fielderror" *ngIf="showMessage">
          Task name is required.</span
        >
        <input
          type="text"
          [(ngModel)]="productName"
          id="productName"
          name="productName"
          required
        />
      </fieldset>
      <div
        class="fielderror forminvalid"
        *ngIf="myForm.submitted && myForm.invalid"
      >
        This form entry is invalid.
      </div>
      <button type="submit" class="submitBtn">Submit</button
      ><!-- [disabled]="myForm.invalid" -->
    </form>
  </main>
</div>
