/* You can add global styles to this file, and also import other style files */
body {
  margin: 0 !important;
  background-color: #333;
  color: #fff;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-weight: 100;
}
h1 {
  margin-left: 1em;
}
